p.ibm-ind-link a {
	margin: 0px; padding: 5px 5px 5px 21px; display: block;
}
ul.ibm-link-list a {
	margin: 0px; padding: 5px 5px 5px 21px; display: block;
}
.ibm-two-column.ibm-container-body p.ibm-ind-link {
	clear: both;
}
li.dwjp-newsing-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_newsing.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-newsing-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_newsing.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-newsing-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_newsing.gif") no-repeat 2px 4px;
}
li.dwjp-hateb-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_hateb.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-hateb-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_hateb.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-hateb-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_hateb.gif") no-repeat 2px 4px;
}
li.dwjp-lvclip-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_lvclip.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-lvclip-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_lvclip.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-lvclip-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_lvclip.gif") no-repeat 2px 4px;
}
li.dwjp-delicious-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_delicious.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-delicious-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_delicious.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-delicious-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_delicious.gif") no-repeat 2px 4px;
}
li.dwjp-buzz-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_buzzurl.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-buzz-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_buzzurl.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-buzz-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_buzzurl.gif") no-repeat 2px 4px;
}
li.dwjp-choix-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_choix.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-choix-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_choix.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-choix-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_choix.gif") no-repeat 2px 4px;
}
li.dwjp-fc2-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_fc2.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-fc2-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_fc2.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-fc2-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_fc2.gif") no-repeat 2px 4px;
}
li.dwjp-mm-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_mm.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-mm-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_mm.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-mm-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_mm.gif") no-repeat 2px 4px;
}
li.dwjp-niftyclip-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_niftyclip.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-niftyclip-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_niftyclip.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-niftyclip-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_niftyclip.gif") no-repeat 2px 4px;
}
li.dwjp-ybm16-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_ybm16.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-ybm16-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_ybm16.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-ybm16-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_ybm16.gif") no-repeat 2px 4px;
}
li.dwjp-cz-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_cz.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwjp-cz-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_cz.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwjp-cz-link {
	background: url("//dw1.s81c.com/developerworks/jp/i/icon_cz.gif") no-repeat 2px 4px;
}
li.dwru-bobrdobr-link {
	background: url("//dw1.s81c.com/developerworks/ru/i/bobrdobr.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwru-bobrdobr-link {
	background: url("//dw1.s81c.com/developerworks/ru/i/bobrdobr.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwru-bobrdobr-link {
	background: url("//dw1.s81c.com/developerworks/ru/i/bobrdobr.gif") no-repeat 2px 4px;
}
li.dwru-memori-link {
	background: url("//dw1.s81c.com/developerworks/ru/i/memori.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwru-memori-link {
	background: url("//dw1.s81c.com/developerworks/ru/i/memori.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwru-memori-link {
	background: url("//dw1.s81c.com/developerworks/ru/i/memori.gif") no-repeat 2px 4px;
}
li.dwkr-delicious-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/icon_delicious.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwkr-delicious-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/icon_delicious.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwkr-delicious-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/icon_delicious.gif") no-repeat 2px 4px;
}
li.dwkr-margin-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/index.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwkr-margin-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/index.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwkr-margin-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/index.gif") no-repeat 2px 4px;
}
li.dwkr-naver-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/naver.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwkr-naver-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/naver.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwkr-naver-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/naver.gif") no-repeat 2px 4px;
}
li.dwkr-eolin-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/eolin.gif") no-repeat 2px 4px;
}
p.ibm-ind-link a.dwkr-eolin-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/eolin.gif") no-repeat 2px 4px;
}
ul.ibm-link-list a.dwkr-eolin-link {
	background: url("//dw1.s81c.com/developerworks/kr/i/eolin.gif") no-repeat 2px 4px;
}
div.dw-show-hide-spacer.ibm-hideable p {
	font-size: 1em !important;
}
#ibm-content-main ul.dw-submit-list {
	font-size: 0.76em;
}
